<!DOCTYPE html>

  <p>
  <div class="container" style= "margin-top: 150px; margin-bottom: 150px">  <!-- container class 가 페이지의 컨텐츠영역을 지정 -->
   <div class="jumbotron" style="width:500px; margin:auto">

          <div class="boxbox" style='width:400px; margin:auto'>
           <form accept-charset="UTF-8" role="form" method="post" action="/idfind">
            <h5>아이디찾기</h5> <hr>
            <div class="form-group">
                <label for="username-email">이름</label>
                <input name="uname" value='' id="username-email" placeholder="NAME" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="username-email">전화번호</label>
                <input name="uphone" value='' id="username-email" placeholder="입력해주세요" type="tel" class="form-control" />
            </div>
            <hr>
            <div class="form-group">
                <input type="submit" class="btn btn-secondary" value="아이디 찾기" />
            </div>

           </form>
          </div>

     </div>  <!-- jumbotron -->
    </div> <!-- /.container -->
