<!DOCTYPE html>
 <!-- GNB(Global Navigation Bar) 부분 -->
   <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
     <a class="navbar-brand" href="/"><img src="/images/realLogo2.png" alt="logo" style="height: 50px" ></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
     </button>
     <ul class="navbar-nav ml-auto">
       &nbsp&nbsp&nbsp&nbsp
       <li class="nav-item">
         <a class="nav-link" href='<%=logurl%>'><%=loglabel%></a>
       </li>&nbsp&nbsp&nbsp&nbsp
     </ul>
 </nav>
