<!DOCTYPE html>
<html>
<body>
  <div class="bg-gradient-primary">
<div class="jumbotron jumbotron-fluid">
    <div class="container">
         <h3 class="display-4"> 아이디 찾기 성공</h3> <hr>
         <h4 class="display-4"> <%= userdata[0].ad_id %></h4> <hr>
         <a class="btn btn-primary btn-lg" role="button" href="/">돌아가기</a>
         <hr>
         <div> <p> (주)Hybrid Auction, 가천대학교 컴퓨터공학과 5team (C)2019 </p> </div>
   </div>
</div>
</div>
</body>
</html>
