<!DOCTYPE html>

<header class="masthead">
  <div  style="background-image: url('/images/gym2.jpg');">
    <div class="row text= h-100 align-items-center justify-content-center text-center">
      <div calss="col-lg-10 align-self-end">
        <br><br><br><br><br>
        <h1 class="text-uppercase text-white font-weight-bold"> Hybrid Auction </h1>
        <hr class="divider my-4">
        <br><Br>
        <div calss="col-lg-8 align-self-baseline">
          <p class="text-uppercase font mb-5"><h3><strong>!!경매와 역경매의 통합!!<br><br>어디에서도 보지 못했던 새로운 경매가 시작된다</strong></h3></p>
          <br><br>
          <a class="btn btn-success btn-xl js-scroll-trigger" href="/login">Go Admin Page</a>
          <br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="page-section bg-primary" id="about">
  <div style="background-image: url('/images/andand.jpg')">
    <div class="justify-content-center text-center">
      <div calss="col-lg-8 text-center">
        <br><br><br>
        <h2 class="text-white mt-0">USE APPLICATION</h2>
        <br><br><br>
        <hr class="divider light my-4">
        <p class="text-white-50 mb-4">
          <h3>Link</h3>
          <br>
        </p>
        <p>
          <a href="http://192.9.80.96:65009/app-release.apk" rel="nofollow noopener noreferrer" target="_black" style="color:red;">
            <span clss="fsize16">
              <strong>
                [설치용 APK 다운로드] <- 눌러주세요.
              </strong>
            </span>
          </a>
        </p>
        <img src="/images/qrCode.png" width=200px alt="QR코드">
        <br>
      </div>
    </div>
  </div>
</section>
